@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("img/bg.jpg");
    background-size: cover;
    object-fit: fill;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 75vh;
    position: relative;
}

.main .box {
    height: 75vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    top: 0;
    position: absolute;
    /* to make it on top of the image */
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 134px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    /* height: calc(100%-62px);  */
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", serif;
    /* gap: 23px; */
    padding: 0 30px;




}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(4) {
    /* > symbol is used for immediate child */
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.seperation {

    height: 7px;
    background-color: rgb(69, 66, 66);
    position: relative;
    z-index: 20;

}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(23, 23, 23, 0.224);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;


}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;

}

.btn-red-si {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 12px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(121, 110, 110, 0.765);

}

.trend {
    /* background-color: red; */

    color: white;
    font-weight: 500;
    font-size: 24px;
    padding: 48px 81px 5px 120px
}

.btn-Ind {
    /* padding: 12px 19px 12px 39px; */
    padding: 8px 40px;

}

.btn-Mov {
    /* padding: 12px 19px 12px 39px; */
    padding: 8px 40px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */

}
span img{
    cursor: pointer;
}

.img1 .img2 .img3 .img4 .img5{
    padding: 3px 0px 0px 25px;
display: flex;
flex-wrap: wrap;
}
.img1 img, .img2 img, .img3 img, .img4 img, .img5 img {
    border: 1px solid black;
    border-radius: 4%;

}


.faq{
    background-color: black;
    color: white;
    padding: 34px
}
.faq h2{
    text-align: center;
    font-weight: 500;
    font-size: 48px;
}
.faqbox:hover{
    background-color: #414141;
}
.faqbox{
    transition: all 1s  ease-out;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
}
section svg{
    color: white;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* it is same as 1fr 1fr 1fr 1fr */
}

    
footer{
    color: white;
    max-width: 60vw;
    
    margin: auto;
    padding: 14px;
}
.questions{
padding: 34px 0px;

}
.footer a{
   font-size: 14px;
   font-weight: 400;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 23px;
}
@media  screen and (max-width: 1300px){

    .hero{
        padding: 0 10px;
    }
    .hero> :nth-child(1){
        font-size: 34px;
    }
    .hero> :nth-child(2){
        font-size: 34px;
    }
    .hero> :nth-child(3){
        font-size: 16px;
    }
    .hero> :nth-child(4){
        font-size: 14px;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .btn-red{
        font-size: 16px;
    }
    .btn{
        font-size: 16px;
    }
    .main input{
        padding: 7px 101px 8px 14px;
    }
    .trend{
        font-size: 20px;
        padding: 48px 81px 5px 120px;
    }
    .btn-Ind{
        padding: 8px 40px;
    }
    .btn-Mov{
        padding: 8px 40px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    .faqbox{
        max-width: 80vw;
        margin: 34px auto;
    }
    .footer{
        grid-template-columns: 1fr 1fr ;
    }
    .footer-item{
        text-align: center;
        align-items: center;
    }
    .footer a{
        font-size: 16px;
    }
    .questions{
        padding: 34px 0px;
    }
    footer{
        max-width: 90vw;
    }
    
}